@import '/src/const/variables.scss';

.user-information-card {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border: 0;
  box-shadow: none;
  .p-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;
    button {
      width: 100%;
      margin-bottom: 10px;
    }
    .top-button {
      background-color: $strong-200;
      color: $bg-100;
      border: 1px solid $strong-200;
      &:hover {
        background-color: $strong-100;
        color: $bg-100;
        border: 1px solid $strong-100;
      }
    }
    .bot-button {
      background-color: transparent;
      color: $strong-200;
      border: 1px solid $strong-200;
      &:hover {
        background-color: $primary-200;
        color: $strong-200;
        border: 1px solid $primary-200;
      }
    }
  }
  .p-card-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .avatar-container {
      .avatar-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
    .information-container {
      width: fit-content;
      h1 {
        color: $strong-200;
      }
      .username,
      .email,
      .id {
        h3 {
          font-weight: 300;
        }
      }
    }
  }
}

.note-dialog {
  .dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .dialog-textarea {
      margin-bottom: 20px;
    }
  }
}
