@import "/src/const/variables.scss";
.wallet-view {
  width: 100%;
  .history-section {
    min-height: 550px;
    height: fit-content;
    margin-bottom: 30px;
    padding: 20px;
    .wallet-history-section,
    .transaction-history-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 100px;
      font-size: $h3;
      .transaction-info {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      .type {
        width: 350px;
      }
      .wallet-info {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      .method {
        width: 250px;
      }
    }
  }
}
