// variables.scss

/* Color styles */
$primary-100: #D4EAF7;
$primary-200: #B6CCD8;
$primary-300: #3B3C3D;
$strong-100: #71C4EF;
$strong-200: #00668C;
$text-100: #1D1C1C;
$text-200: #313D44;
$bg-100: #FFFEFB;
$bg-200: #F5F4F1;
$bg-300: #CCCBC8;
$linear-100: #F1F1F1;
$linear-border-100: #F1F1F1;
$linear-border-100: #F1F1F1;
$gray-default: #7B7B7B;


/* Text-size styles */
$title: 40px;
$h1: 24px;
$h1-bold: 24px;
$h3: 17px;
$h3-bold: 17px;
$normal: 14px;
$normal-bold: 14px;
$small: 12px;
$small-bold: 12px;

/* Effect styles */
$popup-shadow: 26px 26px 17.899999618530273px rgba(0, 0, 0, 0.25);

/* Shape styles */
$borderRadius-100: 12px;
$borderRadius-300: 50px;
$padding-100: 12px;