/* variables */
@import 'src\const\variables.css';

/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.text-cus-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 18.2px;
}

.text-cus-h1 {
  font-size: 24px;
  font-weight: 500; /* medium */
  line-height: 31.2px;
}

.text-cus-h1-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 31.2px;
}

.text-cus-h2 {
  font-size: 20px;
  font-weight: 500; /* medium */
  line-height: 26px;
}

.text-cus-h2-bold {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.text-cus-h3 {
  font-size: 17px;
  font-weight: 500; /* medium */
  line-height: 20.8px;
}

.text-cus-h3-bold {
  font-size: 17px;
  font-weight: bold;
  line-height: 20.8px;
}

.text-cus-normal {
  font-size: 14px;
  font-weight: 400; /* regular */
  line-height: 18.2px;
}

.text-cus-normal-bold {
  font-size: 14px;
  font-weight: bold;
  line-height: 18.2px;
}

.text-cus-small {
  font-size: 12px;
  font-weight: 400; /* regular */
  line-height: 15.6px;
}

.text-cus-small-bold {
  font-size: 12px;
  font-weight: bold;
  line-height: 15.6px;
}

/* Custom scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-200);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--strong-200);
}